@import '~@angular/material/theming';

.field-language {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.field-sortBy {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.paginator {
  width: 100%;
  background: map_get($mat-dark-theme-background, background);
}

form {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
