@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@angular/material/theming';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/Raleway/Raleway-SemiBold.ttf);
}

$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);

@include angular-material-typography($custom-typography);

$button-theme-primary: mat-palette($mat-pink, 200);
$button-theme-accent: mat-palette($mat-pink);
$button-theme-warn: mat-palette($mat-red);
$button-theme: mat-dark-theme($button-theme-primary, $button-theme-accent, $button-theme-warn);

@include mat-button-theme($button-theme);

$toolbar-theme-primary: mat-palette($mat-gray, 800);
$toolbar-theme-accent: mat-palette($mat-pink);
$toolbar-theme-warn: mat-palette($mat-red);
$toolbar-theme: mat-dark-theme($toolbar-theme-primary, $toolbar-theme-accent, $toolbar-theme-warn);

@include mat-toolbar-theme($toolbar-theme);


body, mat-sidenav-container.mat-drawer-container {
  background-color: map_get($toolbar-theme-primary, default);
  min-height: 100vh;
}

mat-form-field {
  width: 100%;
}

a {
  color: map_get($mat-dark-theme-foreground, text);
  text-decoration: none;
}

.light-icon-link {
  width: 32px;
  height: 32px;
}

.app-secondary-text {
  color: rgba(map_get($mat-dark-theme-foreground, text), 0.85);
}

.toolbar-spacer {
  flex: 1 1 auto;
}
