<form [formGroup]="form">
  <mat-form-field class="field-language" appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{lang | uppercase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-sortBy" appearance="outline">
    <mat-label>Sort by</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let type of sortBy" [value]="type.value">
        {{type.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
