@import "~@angular/material/theming";

:host {
  height: 100vh;
  display: block;
}

main, app-filter {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  display: block;
}

main {
  height: calc(100vh - 160px);
}

.secondary-toolbar-text {
  font-weight: 400;
}
