main {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  display: block;
}

.secondary-toolbar-text {
  font-weight: 400;
}

mat-sidenav {
  min-width: 300px;
}

.drawer__toolbar {
  padding-top: 15px;
}
