@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@angular/material/theming';

body {
  background: map_get($mat-dark-theme-background, background);
}

mat-form-field {
  width: 100%;
}

a {
  color: map_get($mat-dark-theme-foreground, text);
  text-decoration: none;
}

.light-icon-link {

  width: 32px;
  height: 32px;

}

.app-secondary-text {
  color: rgba(map_get($mat-dark-theme-foreground, text), 0.85);
}

.toolbar-spacer {
  flex: 1 1 auto;
}
$button-theme-primary: mat-palette($mat-teal, A400, A200, A700);
$button-theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$button-theme-warn:    mat-palette($mat-red);
$button-theme: mat-light-theme($button-theme-primary, $button-theme-accent, $button-theme-warn);

@include mat-button-theme($button-theme);
